.App {
  display: flex;
}

.App-logo {
  animation: App-logo-spin infinite .2s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main-section {
  height: 100vh;
  width: calc(100vw - 300px);
  display: flex;
  flex-direction: column;
}

  .main-body-title {
    background-color: 	#a9958d;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 10px;
  }

  .scenario-and-response {
    /* background-color: aqua; */
    height: calc(100% - 100px);
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
    .scenario-display {
      /* background-color: lawngreen; */
      height: 50%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

      .scenario-display-button {
        height: 50px;
        width: 50px;
      }
    
    .responses-display {
      background-color: #cfc0b7;
      height: 70%;
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

    }

      .response-a-one {
        background-color: #e8dfd9;
        height: 60%;
        width: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

        .response-a-three {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }

          

.sidebar {
  background-color: #e8dfd9;
  height: 100vh;
  width: 300px;
  display: flex;
}

.button-div-one {
  background-color: #bba9a2;
  height: 100px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
